<!DOCTYPE HTML>
<html ng-app="TodoApp">
<head>
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta charset="utf-8"/>
    
    <link rel="stylesheet/less" type="text/css" href="style/layout.less">
    <script src="script/less.js" type="text/javascript"></script>
    
    <script src="script/angular.js" type="text/javascript"></script>
    <script src="script/angular-cornercouch.js" type="text/javascript"></script>
    <script src="script/showdown.js" type="text/javascript"></script>
    <script src="script/textile.js" type="text/javascript"></script>
    <script src="script/app.js" type="text/javascript"></script>
    
    <script type="text/javascript">

    </script>
</head>
<body>
    <h1>Todo App</h1>
    <div ng-controller="TodoCtrl">
        <label>Label: </label><select ng-model="tags.selected" ng-options="tag for tag in tags.list" ng-change="changedTag()"></select><br>
        <span>{{countRemaining()}} of {{countAll()}} remaining</span> [ <a href="" ng-click="archive()">archive</a> ]
        
        <form ng-submit="addTodo()">
            <input type="text" ng-model="newTodo.title" size="30" placeholder="add new todo here">
            <input class="btn-primary" type="submit" value="add">
        </form>
      
        <fieldset class="todo_list" ng-repeat="todos in todos_bytags">
            <legend>{{todos.tag}}</legend>
            <div ng-repeat="todo in todos.list">
                <hr ng-hide="$first" class="todo">
                <mytodo todo="todo"></mytodo>
            </div>
        </fieldset>

    </div>
</body>
</html>
