<label>Tag: </label><select ng-model="tags.selected" ng-options="tag for tag in tags.list" ng-change="changedTag()"></select><br>
<span>{{countRemaining()}} of {{countAll()}} remaining</span> [ <a href="" ng-click="archive()">archive</a> ]

<form ng-submit="addTodo()">
    <input type="text" ng-model="newTodo.title" size="30" placeholder="add new todo here">
    <input class="btn-primary" type="submit" value="add">
</form>

<fieldset class="todo_list" ng-repeat="todos in todos_bytags">
    <legend>{{todos.tag}}</legend>
    <div ng-repeat="todo in todos.list">
        <hr ng-hide="$first" class="todo">
        <mytodo todo="todo"></mytodo>
    </div>
</fieldset>
