<!DOCTYPE HTML>
<html ng-app="TodoApp">
<head>
    <title>Todo App</title>
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <meta charset="utf-8"/>
    <script type="text/javascript">
        function getBlockSize(minsize) {
            var width= window.innerWidth;
            var divisor = Math.floor(width/minsize);
            if (divisor ==0) {
                divisor=1;
            }
            
            return width/divisor;
        }

        function getBlockSize2(maxsize) {
            var width= window.innerWidth;
            var divisor = Math.ceil(width/maxsize);
            return width/divisor;
        }
    </script>
    
    <link rel="stylesheet/less" type="text/css" href="style/layout.less">
    <script src="script/less.js" type="text/javascript"></script>
    <script src="script/couchapp-todo.min.js" type="text/javascript"></script>


</head>
<body ng-controller="AppCtrl">
    <ul id="navlist">
        <li><a href="#/">Overview</a></li>
        <li><a href="#/next">Next</a></li>
        <li><a href="#/future">Future</a></li>
        <li><a href="#/waiting">Waiting For</a></li>
        <li><a href="#/tickler" ng-class="{alert: pendingTicklers()}">Ticklers</a></li>
        <li><a href="" ng-click="stopReplication()" ng-show="obj.replicating==true"><img src="images/sync.svg" height="18" width="18"></a>
            <a href="" ng-click="stopReplication()" ng-show="obj.replicating=='active'"><img src="images/syncing.svg" height="18" width="18"></a>
            <a href="" ng-click="startReplication()" ng-show="obj.replicating==false"><img src="images/sync_inactive.svg" height="18" width="18"></a></li>
    </ul>

    <div ng-view>
   </div>
</body>
</html>
